# Virtual environment
echo "venv/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django & Database files
db.sqlite3
*.sqlite3
/media/
*.log

# Environment variables
.env
.env.example

# IDE / Editor files
.vscode/
.idea/
*.sublime-workspace

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
